<% layout('layouts/boilerplate') -%>


<body>
    
<div class="row mt-5">

    <div class="alert alert-danger col-6 offset-2" role="alert">
        <h4>Error:</h4><br/>
        <h4><%= err.message %></h4>
        <!-- <p><%= err.stack %></p> -->
      </div>

</div>
    
</body>
